// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary: #54baeb;
$secondary: #777777;
$info: #2d75bd;
$light: #f8f8f8;
$dark: #474747;

//custom
$ct-hover: #f4f4f4;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "info": $info,
  "light": $light,
  "dark": $dark,
);
// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "info": $info,
  "light": $light,
  "dark": $dark,
);
@import "../../node_modules/bootstrap/scss/buttons";

$sidebar-bg-color: $light !default;
$sidebar-color: $dark !default;
$sidebar-width: 190px !default;
// $sidebar-collapsed-width: 80px !default;
$highlight-color: $primary !default;
$submenu-bg-color: #ffffff !default;
$submenu-bg-color-collapsed: #2b2b2b !default;
// $icon-bg-color: #2b2b2b !default;
// $icon-size: 35px !default;
// $submenu-indent: 24px !default;
// $breakpoint-xs: 480px !default;
// $breakpoint-sm: 576px !default;
// $breakpoint-md: 768px !default;
// $breakpoint-lg: 992px !default;
// $breakpoint-xl: 1200px !default;
// $breakpoint-xxl: 1600px !default;

@import "~react-pro-sidebar/dist/scss/styles.scss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  min-height: 100%;
}

.body-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.body-content {
  flex: 1;
  padding-bottom: 100px;
}

.pro-sidebar {
  // margin-top: 20px;
  position: fixed;
  overflow: auto;
  /* display: inline-flex; */
  height: auto;
}

.pro-sidebar
  .pro-menu
  .pro-menu-item.pro-sub-menu
  .pro-inner-list-item
  .pro-inner-item {
  padding: 0px;
}

.nav-item {
  min-width: 130px;
  text-align: center;
}

// btn-primary
.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  color: $light;
}

// btn-outline-primary
.btn-outline-primary:hover,
.btn-outline-primary:focus {
  color: $primary;
  border-color: $primary;
  background-color: $ct-hover;
}

// btn-secondary
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: $light;
}

// btn-outline-secondary
.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
  color: $secondary;
  border-color: $secondary;
  background-color: $ct-hover;
}

.btn-check:active + .btn-outline-secondary,
.btn-check:checked + .btn-outline-secondary,
.btn-outline-secondary.active,
.btn-outline-secondary.dropdown-toggle.show,
.btn-outline-secondary:active {
  color: $secondary;
  background-color: $ct-hover;
}

.dropdown-menu-secondary {
  color: $primary;
  background-color: #fff;
  border-color: $secondary;
}

.dropdown-menu-secondary .dropdown-item {
  color: $secondary;
}

.dropdown-menu-secondary .dropdown-item:hover,
.dropdown-menu-secondary .dropdown-item:active {
  color: $dark;
  background-color: $light;
}

.dropdown-menu-secondary .dropdown-item.active,
.dropdown-menu-secondary .dropdown-item:active {
  color: $dark;
  background-color: #eee;
}

.card-body {
  flex: 1 1 auto;
  height: 160px;
  padding: 1rem 1rem;
}

.card-date {
  position: absolute;
  bottom: 50px;
}
